<?xml version="1.0" encoding="UTF-8"?>
<!--  <suite name="My TestNG suite" parallel="methods">  -->
<suite name="My TestNG suite" parallel="methods">

<test name="GRID TEST WITH SERIAL EXECTION WITH BROWSER FF"> 
    <classes>
      <class name ="TrainingDay4.SeleniumGrid"/>
      <methods>
        <include name="checkgmailEmail" />               
      </methods>
    </classes>
</test>
 
</suite>